:root {
  --system7-z-dialog: 100;
  --system7-z-notification: 1000;
  --system7-z-tooltip: 10000;
}

@font-face {
  font-family: 'Sysfont';
  src: url('../assets/fonts/Sysfont.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geneva';
  src: url('../assets/fonts/Geneva91.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.s7-root,
.s7-root * {
  font-family: 'Geneva', 'Verdana', 'Helvetica', sans-serif !important;
  font-size: 24px;
}

.sys7-btn,
.sys7-checkbox,
.sys7-checkbox .label-text,
.sys7-radio,
.sys7-radio .label-text,
.sys7-dropdown select,
.dialog-text,
.s7-root h1,
.s7-root h2,
.s7-root h3,
.s7-root h4,
.s7-root h5,
.s7-root h6 {
  font-family: 'Sysfont', 'Chicago', 'Impact', sans-serif !important;
  letter-spacing: 1px;
  font-size: 18px;
  font-feature-settings:
    'liga' off,
    'clig' off,
    'calt' off;
  font-weight: 400;
}

.s7-form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.s7-input {
  padding: 4px 6px;
  border: 1px solid #000;
  font-family: inherit;
  outline: none;
  background: #fff;
}

.s7-input.error {
  border: 2px solid #000;
}

.s7-error-msg {
  color: #000;
  font-style: italic;
}

.s7-root ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.s7-root ::-webkit-scrollbar-track {
  background-image: url('../assets/scrollbar.png');
  background-size: 170%;
  background-repeat: repeat-y;
  border-left: 1px solid #000;
  image-rendering: pixelated;
}

.s7-root ::-webkit-scrollbar-thumb {
  background: #ccccff;
  border: 1px solid #000;
  border-top-color: #333366;
  border-bottom-color: #333366;
  box-shadow: 1px 1px 0 #000;
  background-image: url('../assets/thumb_holder.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.s7-root ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(80, 80, 80, 0.8);
}

.s7-root .window-unfocused ::-webkit-scrollbar-track {
  background-image: none;
  background-color: #fff;
}

.s7-root .window-unfocused ::-webkit-scrollbar-thumb {
  background-image: none;
  background-color: #fff;
  border-color: #fff;
  box-shadow: none;
}

.s7-window-frame,
.s7-dialog {
  background: #fff;
  border: 1px solid #000;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.s7-dialog {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.s7-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}
